{% extends 'products/base.html'%}


{% block content%}



    <div class="container">
    {% for i in cart%}
        <div class="row" style="margin:100px">

            <div class="card" style="width: 18rem; margin: 20px">
              <img src="https://images.pexels.com/photos/753695/pexels-photo-753695.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i.product.name}}</h5>
                  <h5 class="card-title">{{i.product.price}}</h5>

                <p class="card-text">{{i.product.desc}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>

        </div>
        {% endfor%}

    </div>


{% endblock%}